$primary-grey: #515a63;

a {
  color: #fff !important
}

.about.p {
  font-size: 20px;
}

.hidden {
  display: none;
}

.banner-title {
  color: white;
  text-align: center;
  padding-top: 15%;
  font-size: 38px;
}

.footer {
  height: 60px;
  width: 100%;
  position: relative;
  clear: both;
  bottom: 0;
  background-color: #edeff1;
}

.g-button {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.home-container {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/techguy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0px !important;
  height: 100%;
}

.login-container {
  margin-top: 5%;
}

.login-form, h2 {
  text-align: center;
}

.login-register {
  font-size: 18px;
  position: relative;
  left: 45%;
}

.logo-container a {
  font-size: 2.1rem;
  color: #fff;
}

.main-container {
  height: 100vh;
  width: 100%;
  font-size: 16px;
}

.repl-button {
  margin: 5px !important;
}

.title-area li {
  list-style: none;
}

.title-loc {
  margin-bottom: 10px;
}

.ui.inverted.menu.navbar {
  width: 100%;
  background-color: $primary-grey;
  margin-bottom: 0;
  padding-left: 100px !important;
  padding-right: 150px !important;
}

.ui.main.text.container {
  color: $primary-grey;
  height: 100vh;
}

.ui.container.holder {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 700px;
}

.ui.container.holder h1, .count-not {
  text-align: center;
}

.ui.page.grid.main {
  margin-top: 70px;
}

form input, form textarea {
  font-size: 1.10em !important;
}

.edit-profile {
  float: right;
  bottom: 50px;
  position: relative;
}

.message-container, .job-container {
  display: inline;
}

.message-item {
  border-top: 0px !important;
}

.mas-read {
  float: right;
  position: relative;
  bottom: 60px;
}

.gmap {
  height: 300px !important;
  width: 400px !important;
}

.job-remove, .user-mess, .repl-div {
  float: right;
  position: relative;
  bottom: 80px;
}

.loading {
  position: relative !important;
  top: 250px !important;
}

.list-item, .job-container, .current-job-item, .message-item{
  border-top: 0 !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.message-item h3 {
  display: inline;
}

.site-title {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.stars {
  text-align: center;
}
