$primary-grey: #515a63;

a {
    color: #fff !important
  }

.footer {
  height: 60px;
  width: 100%;
  position: relative;
  clear: both;
  bottom: 0;
  background-color: #edeff1;
}

.g-button {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.login-form  {
  text-align: center;
}

.logo-container a {
  font-size: 2.1rem;
  color: #fff;
}

.title-area li {
  list-style: none;
}

.ui.inverted.menu.navbar {
  width: 100%;
  background-color: $primary-grey;
}

.ui.main.text.container {
  margin-top: 7em;
  color: $primary-grey;
  height: 100vh;
}

.ui.page.grid.main {
  margin-top: 70px;
}
